@media screen and (min-width: 1440px) {
    .container{
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: none;
    }

    header{
        width: 100%;
    }

    label{
        display: none;
    }

    #nav{
        flex-direction: row;
    }

    #menu{
        display: block;
        position: relative;
    }
}