@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --RedHot: 'Red Hat Display', sans-serif;

    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: var(--RedHot);
}

.container{
    width: 100%;
    height: 100%;
    background-color: var(--Paleblue);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
}